@font-face {
    font-family: 'MerriweatherSans-Light';
    src: url('../fonts/MerriweatherSans-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn-Regular';
    src: url('../fonts/Vollkorn-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn-Italic';
    src: url('../fonts/Vollkorn-Italic.ttf');
}