$ancho:100%;
$alto:100%;
$tamanio:1rem;
$h-px:10px;
$w-px:10px;
$c-primario-1:#262626;
$c-primario-2:#F1BF7B;
$c-secun-1:#FBEED9;
$c-secun-3:#6B0A05;
$c-secun-2:#86A2BB;

@use 'sass:math';

@mixin crear-flexbox($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@function pixeles-rem($pixeles){
    $rem:math.div($pixeles, 16)*1rem;

    @return $rem;
}
